---
import Container from '@components/Container.astro'
import Sponsors from '@components/Sponsors.astro'
import Table from '@components/Table.astro'
import TeamsSelectorCards from '@components/TeamsSelectorCards.astro'
import Layout from '@layouts/Layout.astro'
---

<Layout>
	<main>
		<section class='bg-[#e66000]'>
			<Container>
				<div class='grid grid-cols-4 lg:grid-cols-8 gap-10 w-full px-4 md:px-8'>
					<div class='col-span-4 xl:col-span-3 flex flex-col gap-y-10'>
						<Table />
					</div>
					<div class='col-span-4 lg:col-span-4 xl:col-span-5 mt-[20px] lg:mt-0'>
						<div class='grid grid-cols-6 gap-y-10 gap-x-5 w-full'>
							<div class='col-span-6 xl:col-span-3 bg-white'></div>

							<div class='col-span-6 xl:col-span-3 bg-white'></div>
						</div>
						<div class='my-10'>
							<TeamsSelectorCards />
						</div>
					</div>
				</div>
			</Container>
		</section>
	</main>
	<Sponsors />
</Layout>
