---
import Container from '@components/Container.astro'
import Table from '@components/Table.astro'
import Layout from '@layouts/Layout.astro'
---

<Layout title='Kings League Infojobs'>
	<main>
		<section class='bg-[#e66000]'>
			<Container>
				<div class='col-span-2 py-20'>
					<Table />
				</div>
			</Container>
		</section>
	</main>
</Layout>
