---
import Container from './Container.astro'
---

<section
	class='text-sm flex justify-between sm:justify-center flex-wrap gap-10 text-white p-8 bg-black'
>
	<Container>
		<div>
			<div class='border-b border-[#F8AF3F] mb-10'>
				<span class='font-bold'>Principal</span> partner
			</div>
			<img src='' alt='Logo Principal Sponsor' />
		</div>
		<div>
			<div class='border-b border-[#F8AF3F] mb-10'>
				<span class='font-bold'>Stadium</span> partner
			</div>
			<img src='' alt='Logo Stadium Sponsor' />
		</div>
		<div class='col-span-3'>
			<div class='border-b border-[#F8AF3F] mb-10'>
				<span class='font-bold'>Main</span> partner
			</div>
			<div class='grid grid-cols-8 gap-5 items-center'>
				<img src='' alt='Logo Grefuta Sponsor' />
				<img src='' alt='Logo Spotify Sponsor' />
				<img src='' alt='Logo Smyo Sponsor' />
				<img src='' alt='Logo Adidas Sponsor' />
				<img src='' alt='Logo Mahau Sponsor' />
				<img src='' alt='Logo MI Sponsor' />
				<img src='' alt='Logo Shukran Sponsor' />
				<img src='' alt='Logo Imagin Sponsor' />
				<img src='' alt='Logo IQ Sponsor' />
			</div>
		</div>
		<div>
			<div class='border-b border-[#F8AF3F] mb-10'>
				<span class='font-bold'>Hosting</span> partner
			</div>
			<img src='' alt='Logo Stadium Sponsor' />
		</div>
	</Container>
</section>
